<?xml version='1.0' encoding='UTF-8'?>
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page" version="2.1"
          xmlns:f="http://java.sun.com/jsf/core"
          xmlns:h="http://java.sun.com/jsf/html"
          xmlns:af="http://xmlns.oracle.com/adf/faces/rich">
  <jsp:directive.page contentType="text/html;charset=UTF-8"/>
  <f:view>
    <af:document id="d1">
      <af:messages id="m2"/>
      <af:resource type="javascript" source="/jshelper.js"/>
    <af:form id="f1">
        <af:panelGroupLayout id="pgl1">
          <af:panelCollection id="pc1" clientComponent="true">
            <f:facet name="menus"/>
            <f:facet name="toolbar"/>
            <f:facet name="statusbar"/>
            <af:popup id="p1" contentDelivery="immediate">
              <af:menu text="Smart Copy" id="m1">
                <af:commandMenuItem text="Copy Cell Value" id="cmi1">
                  <af:clientListener method="copyFromMenu" type="action"/>
                </af:commandMenuItem>
                <af:commandMenuItem text="Paste to Selected Rows" id="cmi2"
                                    partialSubmit="true">
                  <af:clientListener method="pasteFromMenu('ServerCopy','pc1:p1')"
                                     type="action"/>
                </af:commandMenuItem>
              </af:menu>
              <af:serverListener type="ServerCopy"
                                 method="#{EmployeesPage.copyValueToSelectedRows}"/>
            </af:popup>
            <af:table value="#{bindings.allEmployees.collectionModel}"
                      var="tableRow" rowBandingInterval="0" id="t1"
                      binding="#{EmployeesPage.employeeTable1}"
                      rowSelection="multiple"
                      rows="#{bindings.allEmployees.rangeSize}"
                      emptyText="#{bindings.allEmployees.viewable ? 'No data to display.' : 'Access Denied.'}"
                      fetchSize="#{bindings.allEmployees.rangeSize}"
                      clientComponent="false" varStatus="status"                      
                      contentDelivery="whenAvailable" editingMode="editAll">
              <!-- the rows below are commented out from the table definition to allow multiple 
                   table row selection. The ADF binding layer can only have a single current 
                   row and therefore would reset multiple row selection on table refresh. 
                   selectedRowKeys="#{bindings.allEmployees.collectionModel.selectedRow}"
                   selectionListener="#{bindings.allEmployees.collectionModel.makeCurrent}"
                    -->
              <af:column id="c5" width="31" headerText="No." rowHeader="true">
                <af:outputText value="#{status.index}" id="ot1"/>
              </af:column>
              <af:column sortProperty="employeeId" sortable="false"
                         headerText="#{bindings.allEmployees.hints.employeeId.label}"
                         id="c1" clientComponent="false" width="209">
                <af:inputText value="#{tableRow.bindings.employeeId.inputValue}"
                              label="#{bindings.allEmployees.hints.employeeId.label}"
                              required="#{bindings.allEmployees.hints.employeeId.mandatory}"
                              columns="#{bindings.allEmployees.hints.employeeId.displayWidth}"
                              maximumLength="#{bindings.allEmployees.hints.employeeId.precision}"
                              shortDesc="#{bindings.allEmployees.hints.employeeId.tooltip}"
                              id="it1" clientComponent="true"
                              autoSubmit="false">
                  <f:validator binding="#{tableRow.bindings.employeeId.validator}"/>
                  <af:convertNumber groupingUsed="false"
                                    pattern="#{bindings.allEmployees.hints.employeeId.format}"/>
                  <af:clientListener method="openPopup('pc1:p1')"
                                     type="contextMenu"/>
                  <af:clientListener method="copyFromKeyboard('ServerCopy','pc1:p1')"
                                     type="keyDown"/>
                  <af:clientAttribute name="colname"
                                      value="#{tableRow.bindings.employeeId.name}"/>
                  <af:clientAttribute name="rwKeyIndx" value="#{status.index}"/>
                  <!-- popup is in PanelCollection 'pc1' with an ID of 'p1' -->
                </af:inputText>
              </af:column>
              <af:column sortProperty="firstName" sortable="false"
                         headerText="#{bindings.allEmployees.hints.firstName.label}"
                         id="c9" clientComponent="false" width="120">
                <af:inputText value="#{tableRow.bindings.firstName.inputValue}"
                              label="#{bindings.allEmployees.hints.firstName.label}"
                              required="#{bindings.allEmployees.hints.firstName.mandatory}"
                              columns="#{bindings.allEmployees.hints.firstName.displayWidth}"
                              maximumLength="#{bindings.allEmployees.hints.firstName.precision}"
                              shortDesc="#{bindings.allEmployees.hints.firstName.tooltip}"
                              id="it3" clientComponent="true"
                              autoSubmit="false">
                  <f:validator binding="#{tableRow.bindings.firstName.validator}"/>
                  <af:clientListener method="openPopup('pc1:p1')"
                                     type="contextMenu"/>
                  <af:clientListener method="copyFromKeyboard('ServerCopy','pc1:p1')"
                                     type="keyDown"/>
                  <af:clientAttribute name="colname"
                                      value="#{tableRow.bindings.firstName.name}"/>
                  <af:clientAttribute name="rwKeyIndx" value="#{status.index}"/>
                  <!-- popup is in PanelCollection 'pc1' with an ID of 'p1' -->
                </af:inputText>
              </af:column>
              <af:column sortProperty="lastname" sortable="false"
                         headerText="#{bindings.allEmployees.hints.lastname.label}"
                         id="c2" clientComponent="false" width="120">
                <af:inputText value="#{tableRow.bindings.lastname.inputValue}"
                              label="#{bindings.allEmployees.hints.lastname.label}"
                              required="#{bindings.allEmployees.hints.lastname.mandatory}"
                              columns="#{bindings.allEmployees.hints.lastname.displayWidth}"
                              maximumLength="#{bindings.allEmployees.hints.lastname.precision}"
                              shortDesc="#{bindings.allEmployees.hints.lastname.tooltip}"
                              id="it9" clientComponent="true"
                              autoSubmit="false">
                  <f:validator binding="#{tableRow.bindings.lastname.validator}"/>
                  <!-- popup is in PanelCollection 'pc1' with an ID of 'p1' -->
                  <af:clientListener method="openPopup('pc1:p1')"
                                     type="contextMenu"/>
                  <af:clientListener method="copyFromKeyboard('ServerCopy','pc1:p1')"
                                     type="keyDown"/>
                  <af:clientAttribute name="colname"
                                      value="#{tableRow.bindings.lastname.name}"/>
                  <af:clientAttribute name="rwKeyIndx" value="#{status.index}"/>
                </af:inputText>
              </af:column>
              <af:column sortProperty="email" sortable="false"
                         headerText="#{bindings.allEmployees.hints.email.label}"
                         id="c6" clientComponent="false" width="3">
                <af:inputText value="#{tableRow.bindings.email.inputValue}"
                              label="#{bindings.allEmployees.hints.email.label}"
                              required="#{bindings.allEmployees.hints.email.mandatory}"
                              columns="#{bindings.allEmployees.hints.email.displayWidth}"
                              maximumLength="#{bindings.allEmployees.hints.email.precision}"
                              shortDesc="#{bindings.allEmployees.hints.email.tooltip}"
                              id="it8" clientComponent="true"
                              autoSubmit="false">
                  <f:validator binding="#{tableRow.bindings.email.validator}"/>
                  <!-- popup is in PanelCollection 'pc1' with an ID of 'p1' -->
                  <af:clientListener method="openPopup('pc1:p1')"
                                     type="contextMenu"/>
                  <af:clientListener method="copyFromKeyboard('ServerCopy','pc1:p1')"
                                     type="keyDown"/>
                  <af:clientAttribute name="colname"
                                      value="#{tableRow.bindings.email.name}"/>
                  <af:clientAttribute name="rwKeyIndx" value="#{status.index}"/>
                </af:inputText>
              </af:column>
              <af:column sortProperty="phoneNumber" sortable="false"
                         headerText="#{bindings.allEmployees.hints.phoneNumber.label}"
                         id="c7" clientComponent="false">
                <af:inputText value="#{tableRow.bindings.phoneNumber.inputValue}"
                              label="#{bindings.allEmployees.hints.phoneNumber.label}"
                              required="#{bindings.allEmployees.hints.phoneNumber.mandatory}"
                              columns="#{bindings.allEmployees.hints.phoneNumber.displayWidth}"
                              maximumLength="#{bindings.allEmployees.hints.phoneNumber.precision}"
                              shortDesc="#{bindings.allEmployees.hints.phoneNumber.tooltip}"
                              id="it6" clientComponent="true"
                              autoSubmit="false">
                  <f:validator binding="#{tableRow.bindings.phoneNumber.validator}"/>
                  <af:clientListener method="openPopup('pc1:p1')"
                                     type="contextMenu"/>
                  <af:clientListener method="copyFromKeyboard('ServerCopy','pc1:p1')"
                                     type="keyDown"/>
                  <af:clientAttribute name="colname"
                                      value="#{tableRow.bindings.phoneNumber.name}"/>
                  <af:clientAttribute name="rwKeyIndx" value="#{status.index}"/>
                  <!-- popup is in PanelCollection 'pc1' with an ID of 'p1' -->
                </af:inputText>
              </af:column>
              <af:column sortProperty="jobId" sortable="false"
                         headerText="#{bindings.allEmployees.hints.jobId.label}"
                         id="c4" clientComponent="false">
                <af:inputText value="#{tableRow.bindings.jobId.inputValue}"
                              label="#{bindings.allEmployees.hints.jobId.label}"
                              required="#{bindings.allEmployees.hints.jobId.mandatory}"
                              columns="#{bindings.allEmployees.hints.jobId.displayWidth}"
                              maximumLength="#{bindings.allEmployees.hints.jobId.precision}"
                              shortDesc="#{bindings.allEmployees.hints.jobId.tooltip}"
                              id="it2" clientComponent="true"
                              autoSubmit="false">
                  <f:validator binding="#{tableRow.bindings.jobId.validator}"/>
                  <af:clientListener method="openPopup('pc1:p1')"
                                     type="contextMenu"/>
                  <af:clientListener method="copyFromKeyboard('ServerCopy','pc1:p1')"
                                     type="keyDown"/>
                  <af:clientAttribute name="colname"
                                      value="#{tableRow.bindings.jobId.name}"/>
                  <af:clientAttribute name="rwKeyIndx" value="#{status.index}"/>
                  <!-- popup is in PanelCollection 'pc1' with an ID of 'p1' -->
                </af:inputText>
              </af:column>
              <af:column sortProperty="salary" sortable="false"
                         headerText="#{bindings.allEmployees.hints.salary.label}"
                         id="c10" clientComponent="false">
                <af:inputText value="#{tableRow.bindings.salary.inputValue}"
                              label="#{bindings.allEmployees.hints.salary.label}"
                              required="#{bindings.allEmployees.hints.salary.mandatory}"
                              columns="#{bindings.allEmployees.hints.salary.displayWidth}"
                              maximumLength="#{bindings.allEmployees.hints.salary.precision}"
                              shortDesc="#{bindings.allEmployees.hints.salary.tooltip}"
                              id="it5" clientComponent="true"
                              autoSubmit="false">
                  <f:validator binding="#{tableRow.bindings.salary.validator}"/>
                  <af:convertNumber groupingUsed="false"
                                    pattern="#{bindings.allEmployees.hints.salary.format}"/>
                  <af:clientListener method="openPopup('pc1:p1')"
                                     type="contextMenu"/>
                  <af:clientListener method="copyFromKeyboard('ServerCopy','pc1:p1')"
                                     type="keyDown"/>
                  <af:clientAttribute name="colname"
                                      value="#{tableRow.bindings.salary.name}"/>
                  <af:clientAttribute name="rwKeyIndx" value="#{status.index}"/>
                  <!-- popup is in PanelCollection 'pc1' with an ID of 'p1' -->
                </af:inputText>
              </af:column>
              <af:column sortProperty="managerId" sortable="false"
                         headerText="#{bindings.allEmployees.hints.managerId.label}"
                         id="c8" clientComponent="false">
                <af:inputText value="#{tableRow.bindings.managerId.inputValue}"
                              label="#{bindings.allEmployees.hints.managerId.label}"
                              required="#{bindings.allEmployees.hints.managerId.mandatory}"
                              columns="#{bindings.allEmployees.hints.managerId.displayWidth}"
                              maximumLength="#{bindings.allEmployees.hints.managerId.precision}"
                              shortDesc="#{bindings.allEmployees.hints.managerId.tooltip}"
                              id="it7" clientComponent="true"
                              autoSubmit="false">
                  <f:validator binding="#{tableRow.bindings.managerId.validator}"/>
                  <af:convertNumber groupingUsed="false"
                                    pattern="#{bindings.allEmployees.hints.managerId.format}"/>
                  <af:clientListener method="openPopup('pc1:p1')"
                                     type="contextMenu"/>
                  <af:clientListener method="copyFromKeyboard('ServerCopy','pc1:p1')"
                                     type="keyDown"/>
                  <af:clientAttribute name="colname"
                                      value="#{tableRow.bindings.managerId.name}"/>
                  <af:clientAttribute name="rwKeyIndx" value="#{status.index}"/>
                  <!-- popup is in PanelCollection 'pc1' with an ID of 'p1' -->
                </af:inputText>
              </af:column>
              <af:column sortProperty="departmentId" sortable="false"
                         headerText="#{bindings.allEmployees.hints.departmentId.label}"
                         id="c3" clientComponent="false">
                <af:inputText value="#{tableRow.bindings.departmentId.inputValue}"
                              label="#{bindings.allEmployees.hints.departmentId.label}"
                              required="#{bindings.allEmployees.hints.departmentId.mandatory}"
                              columns="#{bindings.allEmployees.hints.departmentId.displayWidth}"
                              maximumLength="#{bindings.allEmployees.hints.departmentId.precision}"
                              shortDesc="#{bindings.allEmployees.hints.departmentId.tooltip}"
                              id="it4" clientComponent="true"
                              autoSubmit="false">
                  <f:validator binding="#{tableRow.bindings.departmentId.validator}"/>
                  <af:convertNumber groupingUsed="false"
                                    pattern="#{bindings.allEmployees.hints.departmentId.format}"/>
                  <af:clientListener method="openPopup('pc1:p1')"
                                     type="contextMenu"/>
                  <af:clientListener method="copyFromKeyboard('ServerCopy','pc1:p1')"
                                     type="keyDown"/>
                  <af:clientAttribute name="colname"
                                      value="#{tableRow.bindings.departmentId.name}"/>
                  <af:clientAttribute name="rwKeyIndx" value="#{status.index}"/>
                  <!-- popup is in PanelCollection 'pc1' with an ID of 'p1' -->
                </af:inputText>
              </af:column>
            </af:table>
          </af:panelCollection>
        </af:panelGroupLayout>
      </af:form>
    </af:document>
  </f:view>
</jsp:root>
