<?xml version='1.0' encoding='windows-1252'?>
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page" version="2.1"
          xmlns:h="http://java.sun.com/jsf/html"
          xmlns:f="http://java.sun.com/jsf/core"
          xmlns:af="http://xmlns.oracle.com/adf/faces/rich"
          xmlns:ButtonComponents="/custom/buttons">
  <jsp:directive.page contentType="text/html;charset=windows-1252"/>
  <f:view>
    <af:document>
      <af:form>
        <af:panelFormLayout>
          <af:inputText label="Input" value="#{pageFlowScope.userInput}"/>
          <af:commandButton text="Set Value to Pass" partialSubmit="true"
                            id="cmdButtonId"/>
        </af:panelFormLayout>
        <af:panelBox text="Custom Component - Press Me"
                     partialTriggers="cmdButtonId">
          <ButtonComponents:ButtonAccessToAttribute userInput="#{pageFlowScope.userInput}"/>
        </af:panelBox>
      </af:form>
    </af:document>
  </f:view>
</jsp:root>
